@import url('https://fonts.googleapis.com/css?family=Cabin');
@import 'fonts.css';
* {
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
ul {
  list-style: none;
}
body {
  width: 100%;
  font-size: 16px;
  color: #141414;
  font-weight: 400;
  text-align: center;
}
.container {
  width: 100%;
  padding: 0 20px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.icon {
  display: inline-block;
  background-image: url(../images/icon/icons-set.png);
  background-repeat: no-repeat;
  background-position: center;
}
#app {
  overflow: hidden;
}
.mob-br {
  display: none;
}
.hd-br {
  display: inline-block;
}
.main-content-container {
  padding: 134px 0 0px;
}
.main-content-container .content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -46px;
  top: 98px;
}
.main-content-container .content-wrapper #nav-bar2 {
  display: none;
}
.main-content-container .content-wrapper #nav-bar {
  display: flex;
}
.main-content-container .content-wrapper .nav-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 45px;
  z-index: 5;
}
.main-content-container .content-wrapper .nav-bar .btn-change {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 375px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.main-content-container .content-wrapper .nav-bar .btn-change:hover .slide-title {
  transform: scale(1.2);
}
.main-content-container .content-wrapper .nav-bar .btn-change.active .number-square {
  color: #f9c97b;
}
.main-content-container .content-wrapper .nav-bar .btn-change.active .number-square:before {
  content: '';
  width: 100%;
  height: 8px;
  background-color: #f4c373;
  position: absolute;
  left: 0;
  top: -7px;
}
.main-content-container .content-wrapper .nav-bar .btn-change.active .slide-title {
  color: #f9c97b;
}
.main-content-container .content-wrapper .nav-bar .btn-change .number-square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 77px;
  transform: rotate(-90deg);
  font-family: "CirceBold";
  font-size: 21px;
  color: rgba(40, 40, 40, 0.5);
  box-shadow: 0 20px 90px rgba(36, 33, 31, 0.15);
  background-color: #ffffff;
  position: relative;
}
.main-content-container .content-wrapper .nav-bar .btn-change .slide-title {
  margin-left: 56px;
  color: rgba(53, 53, 53, 0.6);
  font-size: 19px;
  font-family: "Cabin";
  line-height: 32px;
  letter-spacing: 1.87px;
  transition: all ease .4s;
}
.main-content-container .content-wrapper .nav-bar .btn-change .slide-title:hover {
  transform: scale(1.2);
}
.main-content-container .content-wrapper .content-container {
  width: 1160px;
  height: 910px;
  box-shadow: 0 30px 120px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.main-content-container .content-wrapper .content-container .slider-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .title {
  position: absolute;
  top: -10%;
  left: -32%;
  font-family: "CirceExtraBold";
  font-size: 187px;
  line-height: 173.33px;
  text-transform: uppercase;
  letter-spacing: 2.06px;
  text-shadow: 0 20px 90px rgba(36, 33, 31, 0.1);
  text-align: left;
  z-index: 2;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-prev,
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-next {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 3;
  background: transparent;
  border: none;
  outline: none;
  transition: ease all .3s;
  cursor: pointer;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-prev:hover .btn-text,
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-next:hover .btn-text {
  color: #022334;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-prev:hover .icon.arrow-up,
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-next:hover .icon.arrow-up {
  background-position: -241px -41px;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-prev:hover .icon.arrow-down,
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-next:hover .icon.arrow-down {
  background-position: -276px -41px;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-prev .btn-text,
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-next .btn-text {
  color: rgba(77, 77, 77, 0.5);
  font-family: "Cabin";
  font-size: 13px;
  text-transform: uppercase;
  line-height: 11.9px;
  letter-spacing: 2.5px;
  word-spacing: -2px;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-prev .icon,
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-next .icon {
  width: 9px;
  height: 30px;
  position: relative;
  left: 34px;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-prev .icon.arrow-up,
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-next .icon.arrow-up {
  background-position: -241px 0px;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-prev .icon.arrow-down,
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-next .icon.arrow-down {
  background-position: -276px 0px;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-prev {
  top: 6.8%;
  right: 6.3%;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .btn-next {
  bottom: 6.5%;
  right: 6.4%;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .slider-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .slider-content .slider-container-inner {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s cubic-bezier(0.4, 0, 0, 1);
}
.main-content-container .content-wrapper .content-container .slider-wrapper .slider-content .slider-container-inner .slider-slide {
  width: 100%;
  padding: 0 90px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .slider-content .slider-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 11%;
  padding-bottom: 6%;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .slider-content .slider-title-container img {
  width: 100%;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .slider-content .slider-title-container .title-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 41px;
  text-align: left;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .slider-content .slider-title-container .title-container .slide-title {
  color: #282828;
  font-family: "CirceExtraBold";
  font-size: 48px;
  line-height: 44px;
  letter-spacing: 1px;
  padding-bottom: 4%;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .slider-content .slider-title-container .title-container .subtitle {
  color: #232323;
  font-family: "CirceBold";
  font-size: 23px;
  line-height: 24px;
  letter-spacing: .7px;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .slider-content-container {
  text-align: left;
  width: 76%;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .slider-content-container .title-container {
  display: none;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .slider-content-container .title-container .slide-title {
  color: #282828;
  font-family: "CirceExtraBold";
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 4%;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .slider-content-container .title-container .subtitle {
  color: rgba(35, 35, 35, 0.5);
  font-family: "CirceBold";
  font-size: 12px;
  line-height: 24px;
}
.main-content-container .content-wrapper .content-container .slider-wrapper .slider-content-container p {
  color: #353535;
  font-family: "Cabin";
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.47px;
}
.check-container {
  padding: 202px 45px 100px 0;
  background-color: #edecec;
}
.check-container .container {
  display: flex;
  justify-content: flex-end;
}
.check-container .check-content {
  display: flex;
  flex-direction: column;
  width: 54.5%;
  max-width: 1160px;
  padding: 48px 80px 47px;
  border: 1px solid rgba(40, 40, 40, 0.2);
  position: relative;
  right: 9.5%;
}
.check-container .check-content .title {
  padding-bottom: 1%;
  font-size: 23px;
  font-family: "CirceBold";
  color: rgba(35, 35, 35, 0.5);
  text-align: left;
}
.check-container .check-content .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.check-container .check-content .content .content-title {
  font-size: 59px;
  font-family: "CirceExtraBold";
  color: #282828;
  letter-spacing: 1.4px;
}
.check-container .check-content .content .button-container {
  margin-top: -15px;
}
.check-container .check-content .content .button-container .btn {
  display: inline-block;
  padding: 16px 37px;
  position: relative;
  box-shadow: 0 10px 43px rgba(0, 0, 0, 0.07);
  background-color: rgba(255, 255, 255, 0.5);
  transition: ease all .4s;
}
.check-container .check-content .content .button-container .btn span {
  color: #090909;
  font-family: "CirceBold";
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .8px;
  transition: ease all .4s;
}
.check-container .check-content .content .button-container .btn:before {
  content: '';
  height: 4px;
  width: 80%;
  background: #f2bf75;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.check-container .check-content .content .button-container .btn:hover {
  background-color: #ffffff;
}
.check-container .check-content .content .button-container .btn:hover span {
  color: #f2bf75;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "CirceExtraBold";
  background-color: #1b1b1b;
  background-image: url('../images/city-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.footer-container .footer-content .title {
  padding-bottom: 69px;
  color: #ffffff;
  font-size: 62px;
  line-height: 80px;
  position: relative;
}
.footer-container .footer-content .title:after {
  content: '';
  width: 380px;
  height: 318px;
  margin: auto;
  background: url("../images/icon/wolf-logo.png") no-repeat;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 120px;
}
.footer-container .footer-content .button-container .btn {
  display: inline-block;
  padding: 17px 70px 14px;
  border: 3px solid #ddb680;
  transition: ease all .4s;
}
.footer-container .footer-content .button-container .btn:hover {
  background-color: rgba(198, 138, 67, 0.08);
}
.footer-container .footer-content .button-container .btn.active {
  background-color: rgba(198, 138, 67, 0.4);
}
.footer-container .footer-content .button-container .btn span {
  color: #fecb94;
  font-size: 23px;
}
.footer-container footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-family: "CirceExtraBold";
  width: 100%;
}
.footer-container footer .footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  padding: 1% 7% 2.3%;
  box-sizing: border-box;
  border-bottom: 3px solid #282828;
}
.footer-container footer .footer-links .copyright,
.footer-container footer .footer-links .contact-link {
  font-size: 16px;
}
.footer-container footer .footer-links .copyright {
  transition: all ease .4s;
  cursor: pointer;
  color: #646363;
}
.footer-container footer .footer-links .copyright:hover {
  color: #ffffff;
}
.footer-container footer .footer-links .copyright:hover span {
  color: #ffffff;
}
.footer-container footer .footer-links .copyright span {
  color: #ddb680;
  transition: all ease .3s;
}
.footer-container footer .footer-links .contact-link .link {
  color: #ddb680;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  transition: all ease .4s;
}
.footer-container footer .footer-links .contact-link .link:hover {
  color: #ffffff;
}
.footer-container footer .footer-links .social-links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-container footer .footer-links .social-links ul li {
  display: block;
  padding: 0px 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.footer-container footer .footer-links .social-links ul li .link .icon {
  transition: all ease .3s;
  height: 22px;
}
.footer-container footer .footer-links .social-links ul li .link .icon:hover.paint {
  background-position: 0px -33px;
}
.footer-container footer .footer-links .social-links ul li .link .icon:hover.drib {
  background-position: -47px -33px;
}
.footer-container footer .footer-links .social-links ul li .link .icon:hover.inst {
  background-position: -97px -33px;
}
.footer-container footer .footer-links .social-links ul li .link .icon:hover.beh {
  background-position: -147px -33px;
}
.footer-container footer .footer-links .social-links ul li .link .icon:hover.fb {
  background-position: -207px -33px;
}
.footer-container footer .footer-links .social-links ul li .link .icon.paint {
  width: 19px;
  background-position: 0px 0px;
}
.footer-container footer .footer-links .social-links ul li .link .icon.drib {
  width: 22px;
  background-position: -47px 0px;
}
.footer-container footer .footer-links .social-links ul li .link .icon.inst {
  width: 22px;
  background-position: -97px 0px;
}
.footer-container footer .footer-links .social-links ul li .link .icon.beh {
  width: 32px;
  height: 21px;
  background-position: -147px 0px;
}
.footer-container footer .footer-links .social-links ul li .link .icon.fb {
  width: 11px;
  background-position: -207px 0px;
}
.footer-container footer .madeBy {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: inherit;
  padding: 1.5% 7.3% 3.8%;
  box-sizing: border-box;
}
.footer-container footer .madeBy .link {
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: all ease .4s;
}
.footer-container footer .madeBy .link:hover span {
  color: #ffffff;
}
.footer-container footer .madeBy .link:hover .icon.logo {
  background-position: 0px -101px;
}
.footer-container footer .madeBy .link span {
  color: #6f6f6f;
  font-family: "CirceExtraBold";
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
.footer-container footer .madeBy .link .icon.logo {
  width: 23px;
  height: 23px;
  margin-left: 12px;
  background-position: 0px -71px;
}
